.navbar {
    padding: 1rem;
    border-radius: 0%;
    background-color:#F6CBE1 !important;
    width: 100%;
    overflow: hidden;
    position: sticky !important;
    top: 0;
    
}
.container-fluid {
    background-color:#F6CBE1;
}
.navbar-brand {
    font-size: 2rem;
    color: #F7F5DE !important;
}
.nav-link {
    color: #F7F5DE !important;
}
.dropdown-item {
    color: #475610 !important;
}
.linkNav {
    text-decoration: none;
}
.NavLink {
    text-decoration: none;
    color: #F7F5DE ;
    padding: 1rem;
}
.NavLink:hover {
    color: #475610;
} 