body {
    background: #F7F5DE; 
}
h1 {
    font-size: 3rem;
    color: #475610;
}
.ImgContainer {
    width: 50%;
    margin-left: 15rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
img {
    max-width: 100%;
}